<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2009, 2019 Xored Software Inc and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-v20.html
     
    Contributors:
    	Xored Software Inc - initial API and implementation and/or initial documentation
 -->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/rcptt/verifications/time"
            class="org.eclipse.rcptt.verifications.time.TimePackage"
            genModel="models/time.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.rcptt.core.verificationTypes">
      <type
            canCreate="false"
            description="Time Verification"
            eclass="TimeVerification"
            epackage-uri="http://eclipse.org/rcptt/verifications/time"
            id="org.eclipse.rcptt.verifications.time"
            name="Execution Time"
            priority="50"
            phases="start run finish">            
      </type>
   </extension>
   
   <extension
         point="org.eclipse.rcptt.core.verificationMaker">
      <maker
            class="org.eclipse.rcptt.verifications.time.TimeVerificationMaker"
            type="org.eclipse.rcptt.verifications.time">
      </maker>
   </extension>

</plugin>
