<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="ide-indigo" sequenceNumber="75">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="epp.package.java" version="1.4.2.20120213-0813"/>
<unit id="org.eclipse.rcp.sdk.id" version="3.7.2.M20120208-0800"/>
<unit id="org.eclipse.emf.common.ui.source.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.emf.common.ui.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.5.1.v20110823-1800-777T19A_WsXmjNatPxcrPm1rOKlH"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.5.0.v20110607-1200-67N09E9QnChoWswz-3wf_rz0kQ8Y"/>
<unit id="org.eclipse.emf.edit.ui.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.platform.sdk" version="3.7.2.M20120208-0800"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.2.v20120130-0943"/>
<unit id="org.eclipse.draw2d.sdk.feature.group" version="3.7.2.v20110927-2020-7A7I38yF6F19G9K5A7H558C58x42"/>
<unit id="org.eclipse.emf.edit.ui.source.feature.group" version="2.7.0.v20120130-0943"/>
<unit id="org.eclipse.pde.feature.group" version="3.7.2.v20120120-1420-7b7rFUOFEx2Xnqafnpz0E--0"/>
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.contribution.weaving.source.feature.group" version="2.2.0.e37x-RELEASE-20120704-0900"/>
<unit id="org.eclipse.contribution.xref.source.feature.group" version="2.2.0.e37x-RELEASE-20120704-0900"/>
<unit id="org.eclipse.ajdt.feature.group" version="2.2.0.e37x-RELEASE-20120704-0900"/>
<unit id="org.eclipse.ajdt.source.feature.group" version="2.2.0.e37x-RELEASE-20120704-0900"/>
<unit id="org.eclipse.contribution.weaving.feature.group" version="2.2.0.e37x-RELEASE-20120704-0900"/>
<repository location="http://download.xored.com/mirrors/ajdt37_22/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="12.0.0.v201212092141"/>
<unit id="com.google.gson" version="2.1.0.v201303041604"/>
<unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
<unit id="org.jsoup" version="1.7.2.v201304221138"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140114142710/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.grid.feature.feature.group" version="1.0.0.201409040043"/>
<repository location="http://download.eclipse.org/technology/nebula/archives/Q32014/release/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcptt.updates.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/rcptt/nightly/1.5.5/latest/repository"/>
</location>
</locations>
</target>
