<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2011, 2014/03/08 14:41:53 alena Exp $
-->

<plugin>

 <extension
       point="org.eclipse.rcptt.core.contextTypes">
    <contextType
          description="Workbench Context"
          eclass="WorkbenchContext"
          epackage-uri="http://eclipse.org/rcptt/model/scenario.ecore"
          id="org.eclipse.rcptt.ctx.workbench"
          name="Workbench"
          canCreate="true"
          priority="60">
    </contextType>
 </extension>
 <extension
       point="org.eclipse.rcptt.core.contextMaker">
    <maker
          class="org.eclipse.rcptt.ctx.internal.workbench.WorkbenchContextMaker"
          type="org.eclipse.rcptt.ctx.workbench">
    </maker>
 </extension>
	

</plugin>
