<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.rcptt.ecl.core.scriptlet">
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SetupPlayerService"
            name="SetupPlayer"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ShoutdownPlayerService"
            name="ShoutdownPlayer"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.UnsupportedService"
            name="Unsupported"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ControlNotFoundService"
            name="ControlNotFound"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.GetPropertyService"
            name="GetProperty"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.VerifyTrueService"
            name="VerifyTrue"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
         <friendly_name
               value="Verify">
         </friendly_name>
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.VerifyFalseService"
            name="VerifyFalse"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.VerifyErrorService"
            name="VerifyError"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.EqualsService"
            name="Equals"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
         <friendly_name
               value="IsEqual">
         </friendly_name>
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ContainsService"
            name="Contains"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.MatchesService"
            name="Matches"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.IsEmptyService"
            name="IsEmpty"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetEclipseWindow"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetQuickAccess"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetControl"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetButton"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetCheckbox"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetCombo"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetEditbox"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetGroup"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetItem"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetLabel"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetLink"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetList"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetMenu"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetTabFolder"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetTable"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetTabItem"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetWindow"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetToolbar"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetTree"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetTextViewer"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetVerticalRuler"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetLeftRuler"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetRightRuler"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetRulerColumn"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetCanvas"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetBanner"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetCoolbar"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetColorSelector"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetView"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetEditor"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetSection"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetCell"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet> 
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetDiagram"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetPalette"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet> 
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="GetText"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
         <friendly_name value="get-text"/>
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="IsDisabled"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="IsDisposed"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>     
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="Click"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="DoubleClick"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="TypeText"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="KeyType"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="Check"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="GetRuntimeTarget"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="Uncheck"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="DragAccept"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="DragDetect"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="Drop"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="DragEnd"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="DragExit"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="DragEnter"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="DragOver"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="DragSetData"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="DragStart"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="Close"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="SetText"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="SetTextOffset"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="SetCaretPos"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="HoverText"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="HoverAtTextOffset"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="ClickRuler"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="DoubleClickRuler"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="HoverRuler"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>                             
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="OpenDeclaration"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>               
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectService"
            name="Select"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="MousePress"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="MouseRelease"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="MouseDrag"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="MouseMove"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="MouseEnter"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="MouseExit"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="MouseHover"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="MouseDoubleClick"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="ActivateCellEdit"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="DeactivateCellEdit"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="ApplyCellEdit"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="CancelCellEdit"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="ActivateDirectEdit"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="CommitDirectEdit"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="CancelDirectEdit"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetEditPart"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetFigure"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="ReturnFromOsDialog"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.WaitService"
            name="Wait"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ShowAlertService"
            name="ShowAlert"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.runtime.NullService"
            name="WaitUntilEclipseIsReady"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="SetTextSelection"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
       <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="SelectRange"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="ShowContentAssist"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetAboutMenu"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetPreferencesMenu"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="TypeCommandKey"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetRegion"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetPopupBarItem"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetConnectionHandle"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetTargetConnection"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetSourceConnection"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetPaletteEntry"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetHandle"
            namespace="http://eclipse.org/rcptt/tesla/ecl/diagram">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.AdvancedInfoService"
            name="GetAdvancedInfo"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetDateTime"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetSlider"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetColumnHeader"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectorService"
            name="GetPropertyTab"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>      
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="SetValue"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="Minimize"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="Maximize"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>   
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="Restore"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>   
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="ShowTabList"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="Options"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ExecWithOptionsService"
            name="ExecWithOptions"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ShutdownAutService"
            name="ShutdownAut"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.RestartAutService"
            name="RestartAut"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
            name="SetDialogResult"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.GetPropertyNodesService"
            name="GetPropertyNodes"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.GetByOsService"
            name="GetByOs"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
        <scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.FromRawKeyService"
            name="FromRawKey"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      </scriptlet>
        <scriptlet
              class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ClickLinkService"
              name="ClickLink"
              namespace="http://eclipse.org/rcptt/tesla/ecl">
        </scriptlet>
        <scriptlet
              class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ExpandService"
              name="Expand"
              namespace="http://eclipse.org/rcptt/tesla/ecl">
        </scriptlet>
        <scriptlet
              class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.CollapseService"
              name="Collapse"
              namespace="http://eclipse.org/rcptt/tesla/ecl">
        </scriptlet>
        <scriptlet
              class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
              name="SetFocus"
              namespace="http://eclipse.org/rcptt/tesla/ecl">
        </scriptlet>
        <scriptlet
              class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
              name="Unfocus"
              namespace="http://eclipse.org/rcptt/tesla/ecl">
        </scriptlet>
        <scriptlet
              class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
              name="ClickText"
              namespace="http://eclipse.org/rcptt/tesla/ecl">
        </scriptlet>
        <scriptlet
              class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
              name="DoubleClickText"
              namespace="http://eclipse.org/rcptt/tesla/ecl">
        </scriptlet>
        <scriptlet
              class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.GetTableDataService"
              name="GetTableData"
              namespace="http://eclipse.org/rcptt/tesla/ecl">
        </scriptlet>
        <scriptlet
              class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ClickColumnService"
              name="ClickColumn"
              namespace="http://eclipse.org/rcptt/tesla/ecl">
        </scriptlet>
        <scriptlet
        	  class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.TraceService"
        	  name="Trace"
              namespace="http://eclipse.org/rcptt/tesla/ecl">
        </scriptlet>
        <scriptlet
        	  class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.MouseService"
        	  name="Mouse"
              namespace="http://eclipse.org/rcptt/tesla/ecl">
        </scriptlet>
		<scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.GetObjectService"
            name="GetObject"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      	</scriptlet>
		<scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ToControlHandleService"
            name="ToControlHandle"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      	</scriptlet>
		<scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.GetItemsService"
            name="GetItems"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      	</scriptlet>
		<scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ExpandAllService"
            name="ExpandAll"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      	</scriptlet>
		<scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.CollapseAllService"
            name="CollapseAll"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      	</scriptlet>
		<scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.TakeScreenshotService"
            name="TakeScreenshot"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      	</scriptlet>
		<scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SelectItemService"
            name="SelectItem"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      	</scriptlet>
      	<scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SetWidthService"
            name="SetWidth"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      	</scriptlet>
      	<scriptlet
            class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.SetPositionService"
            name="SetPosition"
            namespace="http://eclipse.org/rcptt/tesla/ecl">
      	</scriptlet>
      	<scriptlet
              class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.ActionService"
              name="Decrypt"
              namespace="http://eclipse.org/rcptt/tesla/ecl">
        </scriptlet>
        <scriptlet
               class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.GetTableDataService"
               name="GetTableData"
               namespace="http://eclipse.org/rcptt/tesla/ecl">
  </scriptlet>
  <scriptlet
        class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.GetWidgetDetailsService"
        name="GetWidgetDetails"
        namespace="http://eclipse.org/rcptt/tesla/ecl">
  </scriptlet>
  		<scriptlet
	        class="org.eclipse.rcptt.tesla.ecl.internal.impl.commands.GetLastMessageBoxService"
	        name="GetLastMessageBox"
	        namespace="http://eclipse.org/rcptt/tesla/ecl">
  		</scriptlet>
   </extension>
    <extension
          point="org.eclipse.rcptt.tesla.swt.jobCollector">
       <collector
             class="org.eclipse.rcptt.tesla.ecl.internal.impl.EclJobCollector">
       </collector>
    </extension>
    <extension
          point="org.eclipse.rcptt.watson.core.eventProvider">
       <provider
             class="org.eclipse.rcptt.tesla.ecl.internal.impl.TeslaInfoProvider"
             id="org.eclipse.rcptt.tesla.ecl.iml.info.provider">
       </provider>
    </extension>
    <extension
          point="org.eclipse.core.runtime.adapters">
       <factory
             adaptableType="org.eclipse.rcptt.tesla.ecl.model.DecryptResult"
             class="org.eclipse.rcptt.tesla.ecl.internal.impl.AdapterFactory">
          <adapter
                type="java.lang.String">
          </adapter>
       </factory>
       </extension>
    
</plugin>
