runtime/updates/org.eclipse.rcptt.updates.runtime/q7/
runtime/updates/org.eclipse.rcptt.updates.runtime.e4x/q7/
runtime/updates/org.eclipse.rcptt.updates.rap.runtime/q7/
runtime/updates/org.eclipse.rcptt.updates.helios/dependencies

runtime/updates/org.eclipse.rcptt.updates.kepler/dependencies
runtime/updates/org.eclipse.rcptt.updates.aspectj.e3x/dependencies
runtime/updates/org.eclipse.rcptt.updates.aspectj.e38x/dependencies
runtime/updates/org.eclipse.rcptt.updates.aspectj.e44x/dependencies
modules/nebula/plugins/org.eclipse.rcptt.module.nebula.updates/runtime/
*~
.DS_Store
/workspace/
.settings/
*.log
!*verifications.log*
/ecl/tests/org.eclipse.ecl.doc.tests/output/core.html
!launching/org.eclipse.rcptt.launching.ext/src/org/eclipse/rcptt/launching/internal/target
!launching/org.eclipse.rcptt.launching.ext/src/org/eclipse/rcptt/launching/target
!core/verifications/org.eclipse.rcptt.verifications.log
!core/verifications/org.eclipse.rcptt.verifications.log/gen-src/org/eclipse/rcptt/verifications/log
!core/verifications/org.eclipse.rcptt.verifications.log/src/org/eclipse/rcptt/verifications/log
!ecl/plugins/org.eclipse.rcptt.ecl.platform/src/org/eclipse/rcptt/ecl/platform/internal/log
!ecl/plugins/org.eclipse.rcptt.ecl.platform/target/classes/org/eclipse/rcptt/ecl/platform/internal/log
!rcp/org.eclipse.rcptt.dev.ui/src/org/eclipse/rcptt/dev/ui/execution/log
!rcp/verifications/org.eclipse.rcptt.verifications.log.ui/src/org/eclipse/rcptt/verifications/log
!runtime/verifications/org.eclipse.rcptt.verifications.log.impl/src/org/eclipse/rcptt/verifications/log
bin/
target/
ecl/plugins/org.eclipse.rcptt.ecl.parser/antlr/Ecl__.g
ecl/plugins/org.eclipse.rcptt.ecl.parser/src/org/eclipse/rcptt/ecl/internal/parser/Ecl.tokens
m2