# runtime bundles
runtime/updates/org.eclipse.rcptt.updates.runtime.e4x/q7/
modules/rap/bundles/runtime/updates/org.eclipse.rcptt.updates.runtime.rap/q7/

# external dependencies bundles
dependencies/bundles/org.eclipse.rcptt.updates.external.dependencies.rap/dependencies
dependencies/bundles/org.eclipse.rcptt.updates.kepler/dependencies
dependencies/bundles/org.eclipse.rcptt.updates.aspectj.e44x/dependencies
dependencies/bundles/org.eclipse.rcptt.updates.extra/dependencies

modules/nebula/plugins/org.eclipse.rcptt.module.nebula.updates/runtime/
modules/testrail/plugins/org.eclipse.rcptt.module.testrail.updates/runtime
*~
.DS_Store
/workspace/
*.log
!*verifications.log*
/ecl/tests/org.eclipse.ecl.doc.tests/output/core.html
!launching/org.eclipse.rcptt.launching.ext/src/org/eclipse/rcptt/launching/internal/target
!launching/org.eclipse.rcptt.launching.ext/src/org/eclipse/rcptt/launching/target
!core/verifications/org.eclipse.rcptt.verifications.log
!core/verifications/org.eclipse.rcptt.verifications.log/gen-src/org/eclipse/rcptt/verifications/log
!core/verifications/org.eclipse.rcptt.verifications.log/src/org/eclipse/rcptt/verifications/log
!ecl/plugins/org.eclipse.rcptt.ecl.platform/src/org/eclipse/rcptt/ecl/platform/internal/log
!ecl/plugins/org.eclipse.rcptt.ecl.platform/target/classes/org/eclipse/rcptt/ecl/platform/internal/log
!rcp/org.eclipse.rcptt.dev.ui/src/org/eclipse/rcptt/dev/ui/execution/log
!rcp/verifications/org.eclipse.rcptt.verifications.log.ui/src/org/eclipse/rcptt/verifications/log
!runtime/verifications/org.eclipse.rcptt.verifications.log.impl/src/org/eclipse/rcptt/verifications/log
bin/
target/
ecl/plugins/org.eclipse.rcptt.ecl.parser/antlr/Ecl__.g
ecl/plugins/org.eclipse.rcptt.ecl.parser/src/org/eclipse/rcptt/ecl/internal/parser/Ecl.tokens
m2
maven-plugin/rcptt-maven-util/rcptt-maven-util.iml
maven-plugin/rcptt-maven-plugin/rcptt-maven-plugin.iml
maven-plugin/rcptt-maven-modules.iml
.idea
.tycho-consumer-pom.xml
.ICE-unix
/tycho*
