<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2009, 2019 Xored Software Inc and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-v20.html
     
    Contributors:
    	Xored Software Inc - initial API and implementation and/or initial documentation
 -->

<plugin>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="org.eclipse.rcptt.search.Q7SearchPageCreator"
            extensions="scenario:50,test:50"
            icon="icon/tsearch_obj.gif"
            id="org.eclipse.rcptt.search.Q7SearchPage"
            label="RCPTT Search"
            showScopeSection="true"
            sizeHint="250,160"
            tabPosition="0">
      </page>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.eclipse.rcptt.search.Q7SearchResultPage"
            id="org.eclipse.rcptt.search.Q7SearchResultPage"
            searchResultClass="org.eclipse.rcptt.search.Q7SearchResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.compare.structureCreators">
      <structureCreator
            class="org.eclipse.rcptt.compare.ScenarioStructureCreator"
            extensions="scenario, test"
            id="org.eclipse.rcptt.compare.ScenarioStructureCreator">
      </structureCreator>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="ecl"
            id="org.eclipse.rcptt.core.ecl"
            name="ECL"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.compare.contentViewers">
      <viewer
            class="org.eclipse.rcptt.compare.ECLViewerCreator"
            extensions="ecl"
            id="org.eclipse.rcptt.compare.ECLViewerCreator">
      </viewer>
      <contentTypeBinding
            contentTypeId="org.eclipse.rcptt.core.ecl"
            contentViewerId="org.eclipse.rcptt.compare.ECLViewerCreator">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.eclipse.rcptt.compare.ECLMergeViewerCreator"
            extensions="ecl"
            id="org.eclipse.rcptt.compare.ECLMergeViewerCreator"
            label="ECL Compare">
      </viewer>
      <contentTypeBinding
            contentMergeViewerId="org.eclipse.rcptt.compare.ECLMergeViewerCreator"
            contentTypeId="org.eclipse.rcptt.core.ecl">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.rcptt.ui.category"
            id="org.eclipse.rcptt.search.showDependencies"
            name="Show Dependencies">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.rcptt.search.ShowDependenciesAction"
            commandId="org.eclipse.rcptt.search.showDependencies">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.rcptt.search.utils.Q7ElementTester"
            id="org.eclipse.rcptt.search.q7ElementTester"
            namespace="org.eclipse.rcptt.search"
            properties="isQ7Element"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="org.eclipse.rcptt.ui.separator1"
               visible="true">
         </separator>
         <menu
               icon="icon/q7.png"
               id="org.eclipse.rcptt.ui.q7menu"
               label="RCPTT">
            <visibleWhen>
               <and>
                  <with
                        variable="selection">
                     <count
                           value="+">
                     </count>
                     <iterate>
                        <test
                              property="org.eclipse.rcptt.ui.containsNamedElements"
                              value="true">
                        </test>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
            <command
                  commandId="org.eclipse.rcptt.search.showDependencies"
                  icon="icon/references.gif"
                  label="Find References"
                  mnemonic="T"
                  style="push">
               <visibleWhen>
                  <and>
                     <with
                           variable="selection">
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <test
                                 property="org.eclipse.rcptt.search.isQ7Element"
                                 value="true">
                           </test>
                        </iterate>
                     </with>
                  </and>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
