<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2009, 2016 Xored Software Inc and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
     
    Contributors:
    	Xored Software Inc - initial API and implementation and/or initial documentation
 -->

<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/ecl/operations.ecore"
            class="org.eclipse.rcptt.ecl.operations.OperationsPackage"
            genModel="model/operations.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.rcptt.ecl.core.scriptlet">
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.EqService"
            name="Eq"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.IntService"
            name="Int"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.LongService"
            name="Long"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.FloatService"
            name="Float"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.BoolService"
            name="Bool"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.StrService"
            name="Str"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.AssertTrueService"
            name="AssertTrue"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.LengthService"
            name="Length"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.NotEqService"
            name="NotEq"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.GtService"
            name="Gt"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.LtService"
            name="Lt"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.NotService"
            name="Not"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.TryService"
            name="Try"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.FormatService"
            name="Format"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.EmitService"
            name="Emit"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.RepeatWithService"
            name="RepeatWith"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.RepeatService"
            name="Repeat"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.AssertEmptyService"
            name="AssertEmpty"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.AssertNonEmptyService"
            name="AssertNonEmpty"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.ConcatService"
            name="Concat"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.OrService"
            name="Or"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.AndService"
            name="And"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.GetTimeService"
            name="GetTime"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.FormatTimeService"
            name="FormatTime"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.PlusService"
            name="Plus"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.MinusService"
            name="Minus"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.DivService"
            name="Div"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.MultService"
            name="Mult"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.AbsService"
            name="Abs"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.BetweenService"
            name="Between"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.GetService"
            name="Get"
            namespace="http://www.eclipse.org/ecl/core.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.EntryService"
            name="Entry"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.MapService"
            name="Map"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.ListService"
            name="List"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.LoopService"
            name="Loop"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.RecurService"
            name="Recur"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.ModService"
            name="Mod"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.ToListService"
            name="ToList"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.EachService"
            name="Each"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.SplitService"
            name="Split"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.operations.internal.commands.ParseTimeService"
            name="ParseTime"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptlet>
   </extension>
   <extension
         point="org.eclipse.rcptt.ecl.dispatch.scriptletExtension">
      <scriptletExtension
            class="org.eclipse.rcptt.ecl.operations.internal.commands.GetFromMapService"
            name="Get"
            namespace="http://www.eclipse.org/ecl/core.ecore">
      </scriptletExtension>
      <scriptletExtension
            class="org.eclipse.rcptt.ecl.operations.internal.commands.GetFromListService"
            name="Get"
            namespace="http://www.eclipse.org/ecl/core.ecore">
      </scriptletExtension>            
      <scriptletExtension
            class="org.eclipse.rcptt.ecl.operations.internal.commands.EachEntryService"
            name="Each"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptletExtension>            
      <scriptletExtension
            class="org.eclipse.rcptt.ecl.operations.internal.commands.EachElementService"
            name="Each"
            namespace="http://www.eclipse.org/ecl/operations.ecore">
      </scriptletExtension>
   </extension>
</plugin>
