<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.rcptt.core.contextProcessors">
      <processor
            class="org.eclipse.rcptt.ctx.preferences.impl.PreferencesContextProcessor"
            type="org.eclipse.rcptt.ctx.preferences">
      </processor>
   </extension>
</plugin>
