<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rcptt.launching.ext.q7runtime">
      <q7runtime
            kind="aspectj"
            path="platform:///plugin/org.eclipse.rcptt.updates.aspectj.e44x/dependencies/"
            version="[4.4,5)">
      </q7runtime>
   </extension>
</plugin>
