<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="describerExtensions" name="describerExtensions" schema="schema/describerExtensions.exsd"/>
   <extension
         point="org.eclipse.rcptt.tesla.recording.core.recorder">
      <recorder
            class="org.eclipse.rcptt.tesla.recording.core.swt.SWTEventRecorder">
      </recorder>
      <recorder
            class="org.eclipse.rcptt.tesla.recording.core.swt.SWTAssertManager">
      </recorder>
      <recorder
            class="org.eclipse.rcptt.tesla.recording.core.swt.WorkbenchRecordingProcessor">
      </recorder>
      <recorder
            class="org.eclipse.rcptt.tesla.recording.core.swt.EclipseFormsRecordingProcessor">
      </recorder>
      <recorder
            class="org.eclipse.rcptt.tesla.recording.core.swt.JFaceRecordingProcessor">
      </recorder>
      <recorder
            class="org.eclipse.rcptt.tesla.recording.core.swt.UIIDERecordingProcessor">
      </recorder>
   </extension>
   <extension
         point="org.eclipse.rcptt.tesla.recording.swt.describerExtensions">
         <describerExtension
               class="org.eclipse.rcptt.tesla.recording.core.swt.SWTDescriberExtension">
         </describerExtension>
   </extension>

</plugin>
