<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension
         point="org.eclipse.rcptt.watson.core.eventProvider">
      <provider
            class="org.eclipse.rcptt.profiling.core.JobsEventProvider"
            id="org.eclipse.rcptt.sherlock.jobs.provider">
      </provider>
   </extension>
</plugin>
