<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2009, 2019 Xored Software Inc and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-v20.html
     
    Contributors:
    	Xored Software Inc - initial API and implementation and/or initial documentation
 -->

<plugin>
   <extension
         point="org.eclipse.rcptt.reporting.reportRenderer">
      <reportRenderer
            class="org.eclipse.rcptt.reporting.util.FileReportGenerator"
            description="Allow to save report to xml file"
            extension="xml"
            id="xml"
            name="XML">
      </reportRenderer>
      <reportRenderer
            class="org.eclipse.rcptt.reporting.util.XmlSplitReportGenerator"
            description="Separate XML files for each test case"
            extension="xml"
            id="xml_separate"
            name="XML (Separate Files)">
      </reportRenderer>
      <reportRenderer
            class="org.eclipse.rcptt.reporting.util.JUnitFileReportGenerator"
            description="Allow to save report to junit xml file"
            extension="xml"
            id="junit"
            name="JUnit XML">
      </reportRenderer>
      <reportRenderer
            class="org.eclipse.rcptt.reporting.util.RcpttFileReportGenerator"
            description="Allow to save report in RCPTT internal report format"
            extension="report"
            id="rcptt"
            name="RCPTT Report">
      </reportRenderer>
      <!--reportRenderer
            class="org.eclipse.rcptt.reporting.internal.FileXMLReportGenerator"
            description="Allow to save report to xml file"
            extension="txt"
            name="XML file">
      </reportRenderer-->
   </extension>
</plugin>
