<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 <extension
       point="org.eclipse.rcptt.core.contextTypes">
    <contextType
          description="Super Context"
          eclass="SuperContext"
          epackage-uri="http://eclipse.org/rcptt/model/scenario.ecore"
          id="org.eclipse.rcptt.ctx.super"
          name="SuperContext"
          canCreate="false"
          priority="40">
    </contextType>
 </extension>
 <extension
       point="org.eclipse.rcptt.core.contextMaker">
    <maker
          class="org.eclipse.rcptt.ctx.internal.superc.SuperContextMaker"
          type="org.eclipse.rcptt.ctx.super">
    </maker>
 </extension>
 <extension
       point="org.eclipse.rcptt.core.indexer">
    <indexer
          class="org.eclipse.rcptt.ctx.superc.SuperContextIndexer">
    </indexer>
 </extension>
 
</plugin>
