<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2009, 2019 Xored Software Inc and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-v20.html
     
    Contributors:
    	Xored Software Inc - initial API and implementation and/or initial documentation
 -->

<plugin>

 <extension
       point="org.eclipse.rcptt.core.contextTypes">
    <contextType
          description="Super Context"
          eclass="SuperContext"
          epackage-uri="http://eclipse.org/rcptt/model/scenario.ecore"
          id="org.eclipse.rcptt.ctx.super"
          name="SuperContext"
          canCreate="false"
          priority="40">
    </contextType>
 </extension>
 <extension
       point="org.eclipse.rcptt.core.contextMaker">
    <maker
          class="org.eclipse.rcptt.ctx.internal.superc.SuperContextMaker"
          type="org.eclipse.rcptt.ctx.super">
    </maker>
 </extension>
 <extension
       point="org.eclipse.rcptt.core.indexer">
    <indexer
          class="org.eclipse.rcptt.ctx.superc.SuperContextIndexer">
    </indexer>
 </extension>
 
</plugin>
