<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="headless"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="org.eclipse.rcptt.runner.HeadlessRunnerApp">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.rcptt.runner.headless"
            name="RCPTT Runner">
         <property
               name="appName"
               value="RCPTT Runner">
         </property>
      </product>
   </extension>
</plugin>
