<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2009, 2019 Xored Software Inc and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
     
    Contributors:
    	Xored Software Inc - initial API and implementation and/or initial documentation
 -->

<plugin>
    <extension
          id="product"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.ui.ide.workbench"
             name="RCP Testing Tool IDE">
          <property
                name="appName"
                value="RCP Testing Tool IDE">
          </property>
          <property
                name="preferenceCustomization"
                value="plugin_customization.ini">
          </property>
          <property
                name="startupProgressRect"
                value="51,201,176,2">
          </property>
          <property
                name="startupForegroundColor"
                value="90889f">
          </property>
          <property
                name="startupMessageRect"
                value="50,210,174,21">
          </property>
          <property
                name="aboutImage"
                value="icons/about.png">
          </property>
          <property
                name="aboutText"
                value="RCP Testing Tool IDE&#x0A;&#x0A;Version: 2.4.4&#x0A;&#x0A;Copyright (c) Xored Software Inc and others.&#x0A;Visit http://eclipse.org/rcptt&#x0A;&#x0A;This product includes software developed by the&#x0A;Apache Software Foundation http://www.apache.org/">
          </property>
          <property
                name="windowImages"
                value="icons/logo-16.png,icons/logo-32.png,icons/logo-48.png,icons/logo-64.png,icons/logo-128.png">
          </property>
       </product>
    </extension>
</plugin>
