<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/ecl/interop.ecore"
            class="org.eclipse.rcptt.ecl.interop.InteropPackage"
            genModel="model/commands.genmodel"/>
   </extension>
   
   <extension
         point="org.eclipse.rcptt.ecl.core.scriptlet">
      <scriptlet
            class="org.eclipse.rcptt.ecl.interop.internal.commands.InvokeService"
            name="Invoke"
            namespace="http://www.eclipse.org/ecl/interop.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.interop.internal.commands.ExecProcessService"
            name="ExecProcess"
            namespace="http://www.eclipse.org/ecl/interop.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.interop.internal.commands.GetMemoryUsageService"
            name="GetMemoryUsage"
            namespace="http://www.eclipse.org/ecl/interop.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.interop.internal.commands.GetJavaPropertyService"
            name="GetJavaProperty"
            namespace="http://www.eclipse.org/ecl/interop.ecore">
      </scriptlet>
   </extension>
   
</plugin>
