<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/ecl/examples/view.ecore"
            class="org.eclipse.rcptt.ecl.example.view.ViewPackage"
            genModel="model/view.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.rcptt.ecl.core.scriptlet">
      <scriptlet
            class="org.eclipse.rcptt.ecl.example.view.services.ShowViewsService"
            name="ShowViews"
            namespace="http://eclipse.org/ecl/examples/view.ecore">
      </scriptlet>
   </extension>
   <extension
         point="org.eclipse.rcptt.ecl.core.scriptlet">
      <scriptlet
            class="org.eclipse.rcptt.ecl.example.view.services.ShowViewService"
            name="ShowView"
            namespace="http://eclipse.org/ecl/examples/view.ecore">
      </scriptlet>
   </extension>

</plugin>
