<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rcptt.core.contextProcessors">
      <processor
            class="org.eclipse.rcptt.debug.runtime.DebugContextProcessor"
            type="org.eclipse.rcptt.ctx.debug">
      </processor>
   </extension>
</plugin>
