<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rcptt.tesla.swt.workbenchProvider">
      <workbenchProvider
            class="org.eclipse.rcptt.tesla.swt.e4x.E4WorkbenchProvider">
      </workbenchProvider>
   </extension>

</plugin>
