<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2009, 2016 Xored Software Inc and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
     
    Contributors:
    	Xored Software Inc - initial API and implementation and/or initial documentation
 -->

<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
 	<package
            class="org.eclipse.rcptt.ecl.platform.objects.ObjectsPackage"
            genModel="model/objects.genmodel"
            uri="http://www.eclipse.org/ecl/platform/objects.ecore">
     </package>
     <package
            class="org.eclipse.rcptt.ecl.platform.commands.CommandsPackage"
            genModel="model/commands.genmodel"
            uri="http://www.eclipse.org/ecl/platform/commands.ecore">
      </package>
     
   </extension>
   <extension
         point="org.eclipse.rcptt.ecl.core.scriptlet">
      <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.ListPluginsService"
            name="ListPlugins"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.ListFeaturesService"
            name="ListFeatures"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.ListRepositoriesService"
            name="ListRepositories"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.AddRepositoryService"
            name="AddRepository"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.RemoveRepositoryService"
            name="RemoveRepository"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.UpdateFeatureService"
            name="UpdateFeature"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.UpdateAllService"
            name="UpdateAll"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.SortByService"
            name="SortBy"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.ListInstallUnitsService"
            name="ListInstallUnits"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
      
      <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.GetLogService"
            name="GetLog"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.LogService"
            name="Log"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
	  <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.EchoService"
            name="Echo"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
   	  <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.ClearLogService"
            name="ClearLog"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
   	  <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.ListLaunchConfigurationsService"
            name="ListLaunchConfigurations"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
   	  <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.LaunchService"
            name="Launch"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.SubstituteVariablesService"
            name="SubstituteVariables"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.GetWorkspaceLocationService"
            name="GetWorkspaceLocation"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.platform.internal.commands.FindInWorkspaceService"
            name="FindInWorkspace"
            namespace="http://www.eclipse.org/ecl/platform/commands.ecore">
      </scriptlet>
   </extension>
   <extension
         point="org.eclipse.rcptt.ecl.core.listenSource">
      <listenSource
            class="org.eclipse.rcptt.ecl.platform.ErrorLogListenSource"
            name="errorLog">
      </listenSource>
   </extension>
</plugin>
