<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rcptt.tesla.recording.core.ecl.selectorExtension">
      <selectorExtension
            class="org.eclipse.rcptt.expandbar.ide.internal.ExpandBarSelectorParserExtension">
      </selectorExtension>
   </extension>

</plugin>
