<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.rcptt.ecl.data.objects.ObjectsPackage"
            genModel="model/objects.genmodel"
            uri="http://www.eclipse.org/ecl/data/objects.ecore">
      </package>
      <package
            class="org.eclipse.rcptt.ecl.data.commands.CommandsPackage"
            genModel="model/commands.genmodel"
            uri="http://www.eclipse.org/ecl/data/commands.ecore">
      </package>
   </extension>
   <extension
         point="org.eclipse.rcptt.ecl.core.scriptlet">
      <scriptlet
            class="org.eclipse.rcptt.ecl.data.internal.commands.ReadCsvFileService"
            name="ReadCsvFile"
            namespace="http://www.eclipse.org/ecl/data/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.data.internal.commands.WriteCsvFileService"
            name="WriteCsvFile"
            namespace="http://www.eclipse.org/ecl/data/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.data.internal.commands.ExcludeColumnsService"
            name="ExcludeColumns"
            namespace="http://www.eclipse.org/ecl/data/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.data.internal.commands.SelectColumnsService"
            name="SelectColumns"
            namespace="http://www.eclipse.org/ecl/data/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.data.internal.commands.ExcludeRowsService"
            name="ExcludeRows"
            namespace="http://www.eclipse.org/ecl/data/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.data.internal.commands.SelectRowsService"
            name="SelectRows"
            namespace="http://www.eclipse.org/ecl/data/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.data.internal.commands.AssertTablesMatchService"
            name="AssertTablesMatch"
            namespace="http://www.eclipse.org/ecl/data/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.data.internal.commands.PrintService"
            name="Print"
            namespace="http://www.eclipse.org/ecl/data/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.data.internal.commands.WriteLinesService"
            name="WriteLines"
            namespace="http://www.eclipse.org/ecl/data/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.data.internal.commands.ReadLinesService"
            name="ReadLines"
            namespace="http://www.eclipse.org/ecl/data/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.data.internal.commands.AsTableDataService"
            name="AsTableData"
            namespace="http://www.eclipse.org/ecl/data/commands.ecore">
      </scriptlet>
      <scriptlet
            class="org.eclipse.rcptt.ecl.data.internal.commands.ReadPropertiesService"
            name="ReadProperties"
            namespace="http://www.eclipse.org/ecl/data/commands.ecore">
      </scriptlet>
   </extension>


</plugin>
