<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rcptt.ecl.debug.runtime.eclDebugExtension">
      <eclDebug
            class="org.eclipse.rcptt.core.ecl.debug.Q7EclDebug"
            id="org.eclipse.rcptt.core.ecl.debug"
            priority="50">
      </eclDebug>
   </extension>

</plugin>
