<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.emf.ecore.generated_package">
    <package
          class="org.eclipse.rcptt.core.launching.events.EventsPackage"
          genModel="models/launching.genmodel"
          uri="http://eclipse.org/rcptt/core/launching.ecore">
    </package>
 </extension>
</plugin>
