<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rcptt.ui.viewers">
      <viewer
            class="org.eclipse.rcptt.ctx.superc.ui.views.SuperContextViewer"
            icon="/icons/context.gif"
            type="org.eclipse.rcptt.ctx.super">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.eclipse.rcptt.ui.views"
            class="org.eclipse.rcptt.ctx.superc.ui.wizard.NewSuperContextWizard"
            finalPerspective="org.eclipse.rcptt.ui.perspective"
            icon="icons/context.gif"
            id="org.eclipse.rcptt.ui.wizards.newSuperContext"
            name="Super Context"
            preferredPerspectives="org.eclipse.rcptt.ui.perspective"
            project="false">
      </wizard>
   </extension>

</plugin>
