<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rcptt.tesla.core.processor">
      <provider
            class="org.eclipse.rcptt.tesla.gef.GefProcessor">
      </provider>
   </extension>
   <extension
         point="org.eclipse.rcptt.tesla.swt.describerExtensions">
      <describerExtension
            class="org.eclipse.rcptt.tesla.gef.describers.GefDescriberExtension"
            priority="20">
      </describerExtension>
   </extension>

</plugin>
