<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.rcptt.ui.viewers">
     <viewer
           class="org.eclipse.rcptt.ctx.preferences.ui.PreferencesViewer"
           icon="/icons/preferences.gif"
           type="org.eclipse.rcptt.ctx.preferences">
     </viewer>
  </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.rcptt.preferences.PrefNode"
           class="org.eclipse.rcptt.ctx.preferences.ui.PreferencesAdapterFactory">
        <adapter
              type="org.eclipse.ui.views.properties.IPropertySource">
        </adapter>
     </factory>
  </extension>
</plugin>
