<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rcptt.ecl.core.emfConverters">
      <serializer
            class="org.eclipse.rcptt.verifications.runtime.VerificationStatusConverter">
      </serializer>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated status -->
      <package
            uri="http://eclipse.org/rcptt/verifications/status"
            class="org.eclipse.rcptt.verifications.status.StatusPackage"
            genModel="models/status.genmodel"/>
   </extension>

</plugin>
