<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.rcptt.ui.report.internal.RcpttReportEditor"
            default="false"
            extensions="report"
            icon="icons/report.gif"
            id="org.eclipse.rcptt.ui.report.editor1"
            name="RCPTT Report Viewer">
      </editor>
   </extension>

</plugin>
