<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.rcptt.tesla.core.processor">
      <provider
            class="org.eclipse.rcptt.tesla.nebula.NebulaUIProcessor">
      </provider>
   </extension>
   
   <extension
   		point="org.eclipse.rcptt.tesla.swt.describerExtensions">
        <describerExtension
               class="org.eclipse.rcptt.tesla.nebula.NebulaDescriberExtension" priority="10">
        </describerExtension>
   </extension>
</plugin>
