<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2009, 2019 Xored Software Inc and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-v20.html
     
    Contributors:
    	Xored Software Inc - initial API and implementation and/or initial documentation
 -->

<plugin>
	<extension-point id="processor" name="processor" schema="schema/processor.exsd"/>
 <extension-point id="networkProcessor" name="networkProcessor" schema="schema/networkProcessor.exsd"/>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			class="org.eclipse.rcptt.tesla.core.protocol.ProtocolPackage"
			genModel="/models/protocol.genmodel"
			uri="http://eclipse.org/rcptt/tesla/protocol"/>
  <package
        class="org.eclipse.rcptt.tesla.core.protocol.raw.RawPackage"
        genModel="/models/rawProtocol.genmodel"
        uri="http://eclipse.org/rcptt/tesla/rawprotocol">
  </package>
  <package
        class="org.eclipse.rcptt.tesla.core.protocol.diagram.DiagramPackage"
        genModel="/models/diagram.genmodel"
        uri="http://eclipse.org/rcptt/tesla/diagram">
  </package>
	</extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated controls -->
      <package
            uri="http://eclipse.org/rcptt/tesla/widgets"
            class="org.eclipse.rcptt.tesla.core.ui.UiPackage"
            genModel="models/controls.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated info -->
      <package
            uri="http://eclipse.org/rcptt/tesla/info"
            class="org.eclipse.rcptt.tesla.core.info.InfoPackage"
            genModel="models/info.genmodel"/>
   </extension>

</plugin>
